@customStyle = {
	<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
}

@main(title = "Sign Up")(customStyle) {
	<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ExpenseRemider</a>
        </div>
      </div>

    </div> <!-- /container -->
}