@(inputForm: Form[InputData], members: Seq[(String, String)])

@import helper._ 

@main {
	
	<div class="row clearfix">
		<div class="col-md-8 column">
			@form(routes.InputController.save(), 'class -> "form-horizontal well") {
				<div class="form-group">
					<label class="col-md-4 control-label" for="inputdate">Input date</label>
					<div class="col-md-4">
						<input type="text" class="form-control" id="inputdate" name="inputdate" placeholder="yyyy-MM-dd">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="amount">Amount</label>
					<div class="col-md-4">
						<input type="text" class="form-control" id="amount" name="amount" placeholder="-10000 or 10000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="member">Member</label>
					<div class="col-md-4">
						<select class="form-control" id="member" name="member">
							@members.map { member =>
								<option value="@member._1">@member._2</option> 
							}
						</select>
					</div>
				</div>
	            
	            <div class="form-group">
			    	<div class="col-md-4 col-md-offset-4">
			      		<button type="submit" class="btn btn-primary">Save</button>
			    	</div>
			  	</div>
			}
		</div>
	</div>
    
}
